<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- OUR CSS -->
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">

    <title>Yogaz | Class Types</title>
    <style type="text/css">
      /*TRAINER.HTML STYLE*/
      #jsonList_trainer {
        border: 0px solid black;
      }
      #classtype_box {
        margin: 5px;
        padding: 10px;
        width: 100%;
      }
      .card {
        width: 100%;
        background-color: white;
        border: none;
      }
      .container {
        margin-top: 10px;
        margin-bottom: 10px;
        padding-top: 10px;
        box-shadow: none;
      }
      .col {
        border: 0px solid black;
      }
      #jsonList_classtype {
        text-align: center;
      }
    </style>
  </head>
  <body>
    
    <!-- NAVIGATION BAR -->
    <nav class="navbar navbar-expand-md navbar-light">
      <a class="navbar-brand" href="index.html">
        <img id="logo-img" src="../static/pic/index/yogazlogo.png" class="d-inline-block align-top" alt="">
        <p>Yogaz</p>
      </a>
      <!-- dropdown button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
          </li>
          <!-- DROPDOWN CLASS -->
          <li class="nav-item active dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Classes
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="classSchedule.html">Class Schedules</a>
              <a class="dropdown-item" href="classType.html">Class Types</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="trainer.html">Trainers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="beginner.html">Beginners</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="aboutUs.html">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contactUs.html">Contact Us</a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- HEADER PIC/TEXT -->
    <header></header>

    <!-- MAIN BODY -->
    <main>
      
    </main>


    <!-- 
    row 0: item id
    row 1: class id 
    row 2: date and time
    row 3: duration
    row 4: description 
    -->

    <!-- CLASS SCHEDULE -->
    <div class="container" style="margin-top: 10px; border: none; box-shadow: none;">
      <!-- iterate all available lists  -->
      {% for row in rows %}
      <form action="/bookclass" method="post">
      <div class="card mb-3" style="padding: 5px; background-color: white;">
        <img src="../static/pic/classtype/type4.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><strong>Class name</strong>: {{ row[4]}}</h5>
          <p class="card-text"><strong>Date and time</strong>: {{ row[2]}}</p>
          <p class="card-text"><strong>Duration</strong>: {{ row[3]}} minutes</p>
          <p class="card-text"><strong>Class id</strong>: {{ row[1]}}</p>
          <a href="#myModal" class="trigger-btn" data-toggle="modal"><button class="btn btn-outline-primary my-2 my-sm-0" type="submit" class="btn btn-outline-success" value="{{row[0]}}" >Book</button></a>
          <input type="hidden" name="classId" value="{{row[0]}}">
        </div>
      </div>
      </form>
      {% endfor %}
    </div>

  <!-- DISPLAY TRAINER FROM JSON -->
    <div class="container">
      <h1 style="text-align: center; margin-top: 10px;">Classes</h1>
      <div class="row" id="jsonList_classtype">

      </div>
    </div>
    
    <!-- FOOTER -->
    <footer class="footer">
      <div class="footer-copyright text-center py-3">© 2019 Copyright:
        <a href="#"> Yogaz.com</a>
      </div>
    </footer>   

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- JQUERY -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!-- OUR JS -->
    <script src="../static/js/script.js" type="text/javascript"></script>
    <script src="../static/js/classType_json_script.js" type="text/javascript"></script>
  </body>
</html>