<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- OUR CSS -->
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">

    <title>Yogaz | Trainers</title>
    <style type="text/css">
      /*TRAINER.HTML STYLE*/
      #jsonList_trainer {
        border: 0px solid black;
      }
      #trainer_box {
        margin: 5px;
        padding: 10px;
        width: 100%;;
      }
      .card {
        width: 100%;
        background-color: white;
      }
      .container {
        margin-top: 10px;
        margin-bottom: 10px;
      }
    </style>
  </head>
  <body>
    
    <!-- NAVIGATION BAR -->
    <nav class="navbar navbar-expand-md navbar-light">
      <a class="navbar-brand" href="index.html">
        <img id="logo-img" src="../static/pic/index/yogazlogo.png" class="d-inline-block align-top" alt="">
        <p>Yogaz</p>
      </a>
      <!-- dropdown button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
          </li>
          <!-- DROPDOWN CLASS -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Classes
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="classSchedule.html">Class Schedules</a>
              <a class="dropdown-item" href="classType.html">Class Types</a>
            </div>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="trainer.html">Trainers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="beginner.html">Beginners</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="aboutUs.html">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contactUs.html">Contact Us</a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- HEADER PIC/TEXT -->
    <header></header>

    <!-- MAIN BODY -->
    <main></main>

    <!-- DISPLAY TRAINER FROM JSON -->
    <!-- <div class="container">
      <h1 style="text-align: center;">json trainer data</h1>
      <div class="row" id="jsonList_trainer">
      </div>
    </div> -->

    <!-- <table border = 1>
         <thead>
            <td>Trainer ID</td>
            <td>Name</td>
            <td>Last Name</td>
            <td>Description</td>
         </thead>

         {% for row in rows %}
            <tr>
               <td>{{ row[0]}}</td>
               <td>{{ row[1]}}</td>
               <td> {{ row[2]}}</td>
               <td> {{ row[3]}}</td>
            </tr>
         {% endfor %}
      </table>   -->  

    <div class="container" style="box-shadow: none;">
      <div class="row" style="padding: 10px;">

        <!-- 
        row 0 = user id
        row 1 = first name
        row 2 = last name
        row 3 = description 
        -->

        <!-- iterate by the userID table -->
        {% for row in rows %}
        <div class="col" style="margin: 5px;">
          <div class="card" style="width: 100%;border-radius:10px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
            <img src="../static/pic/trainer/p3.png" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">
                <strong>Name</strong>: {{ row[1]}}, {{ row[2]}} <br>
                <strong>Description</strong>:<br> {{ row[3]}}
              </p>
            </div>
          </div>
        </div>
        {% endfor %}

      </div>
    </div>

    <!-- FOOTER -->
    <!-- <footer class="footer">
      <div class="footer-copyright text-center py-3">© 2019 Copyright:
        <a href="#"> Yogaz.com</a>
      </div>
    </footer>  -->  

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- JQUERY -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!-- OUR JS -->
    <script src="js/script.js" type="text/javascript"></script>
    <script src="../static/js/trainer_json_script.js" type="text/javascript"></script> 
  </body>
</html>
